<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7328CBC028C58A7D00EC8FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7328CBD628C58A7F00EC8FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7328CBE028C58A7F00EC8FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
